{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark pr-lg-4">
    <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('asset/media/logo.jpg') }} " style="max-height: 60px" alt="logo de Snowtricks"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home_admin') }}">  Dashboard </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="">  Tricks  </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">  A propos  </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">  Compte  </a>
                <div class="dropdown-menu">
                    {% if (app.user) %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                    <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
                    <a class="dropdown-item" href="">Inscription</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">Contact</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
