{% block nav_admin %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <a id="dashboard_nav_admin" class="navbar-brand" href="{{ path('home_admin') }}">Dashboard</a>
        <a id="avatar_dashboard_mobile" class="navbar-brand" href="{{ path('home_admin') }}">
            <img id="mainImage" src="/asset/media/avatar{{ asset(app.user.avatar) }}" alt="Profil de {{ app.user.lname }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrateur</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('admin_tricks') }}">Voir tous les tricks</a>
                            <a class="dropdown-item" href="{{  path('admin_comment') }}">Voir tous les commentaires</a>
                            <a class="dropdown-item" href="{{ path('all_users_admin') }}">Voir tous les utilisateurs</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("profil_user", {'id' : app.user.id}) }}">Votre Profil</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_tricks') }}">Vos tricks</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{  path('user_comment') }}">Vos commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tricks_add') }}">Ajouter un tricks</a>
                </li>
               <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_password') }}">Mot de passe</a>
                </li>
            </ul>
            <span class="navbar-brand"> Espace privé de {{ app.user.fname }} {{ app.user.lname }} </span>
        </div>
    </nav>
{% endblock %}