{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url('{{ asset('asset/media/wall_1.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Snowtricks</h1>
                        <span class="subheading">TOTO</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-right" >
            <a  id="down"  class="home-link-top" style="cursor: pointer" title="Aller en bas de la page">
                <i style="z-index: 1000; position: relative" class="fas fa-chevron-down fa-3x chevron-down"></i>
            </a>
        </div>
    </header>
{% endblock %}
{% block content %}



    <div id="mainTricks" class="container">
        <div class="row" id="tricks-title">
            {% for trick in tricks %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 {% if loop.index > 8 %} hidden-tricks" style="display:none;"{% endif %}">
                     <a  href="{{ path("tricks_show", {'id' : trick.id}) }}" >
                        <img class="img-fluid card-img-top" style="min-height: 168px" src="/asset/media/main{{ asset(trick.Mainimage) }}" alt="{{ trick.name }}">
                    </a>
                        <div class="card-body">
                            <div class="card-link text-center mb-3">
                                <a  class="btn btn-outline-primary mt-3 block" href="{{ path("tricks_show", {'id' : trick.id}) }}" >{{ trick.name }}</a>
                            </div>
                            <div class="card-link text-center row">
                                 {% for cat in trick.category %}
                                 <div class="{% if app.user %}hoverAuth{% else %} hover {% endif %} ">
                                     <span class="badge badge-pill badge-warning mr-1">
                                    {{ cat.name}}
                                     </span>
                                     <p class="text-warning mouseHover mouseHoverAuth"><strong>{{ cat.description}}</strong></p>
                                 </div>
                                   {% endfor %}
                            </div>
                            {% if app.user %}
                                <div class="mt-3 text-center row">
                                    <a class="col m-auto btn-block hoverGris" href="{{ path("tricks_update", {'id' : trick.id}) }}" title="Modifier ce tricks" >
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="col m-auto  btn-block hoverGris" href="{{ path("tricks_delete", {'id' : trick.id})}}"  title="Supprimer ce tricks">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="btn btn-info" id="loadMoreTrick" >+</div>
            <div class="btn btn-info" id="loadLessTrick" style="display:none" >-</div>
        </div>
        <div class="text-right">
            <a id="up" class="home-link-bottom " title="Aller en haut de la page">
                <i class="fas fa-chevron-up fa-3x chevron-up"></i>
            </a>
        </div>


    </div>
{% endblock %}
